#intro {
	text-align: center;
	margin-left:50px;
	margin-right:50px;
	font-weight:bold;
}
body{
	background-color:#e0cb55;
	margin:0;
}
p{
	font: Courier;
}
#mainheader{
	background-color:#000000;
	height:15%;
	width:100%;
	font-size:1em;
	margin:auto;
	font: Courier;
}
.img-circle{
	border-radius: 50%;
	width:100%;
	height:auto;
}
h1{
	text-align: center;
}
.header{
	font:Courier;
	text-decoration: underline;
}
.footerlink{
	color:#FFFFFF;
}
.messageheader{
	text-align: center;
	text-decoration: none;
}
.message{
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	width:auto;
	margin-bottom:10%;
}

.usernameinput{
	width:15%;
	float:left;

}
.messageinput{
	float:left;
	width:60%;

}
iframe{
	float:left;
	margin-right:5%;
	margin-bottom: 20%;
}


